<div class="container w-75 bg-primary mt-5 rounder shadow">
  <div class="row align-items-stretch" >
      <div class="col bg-white rounder">
          <h2 class="fw-bold text-center py-5">Listado de Carreras</h2>
          <div class="container">
              <div class="row">
                  <div class="container">
                      <button (click)="navegar()" type="submit" class="btn btn-success">
                          Nuevo
                        </button>
                  </div>
              </div>
          </div>
          <br/>
          <div class="container">
              <div class="card">
                  <div class="card-header">
                      <h3>Carreras</h3>
                  </div>
                  <div class="card-body">
                      <table class="table table-hover text-center">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Descripcion</th>
                                  <th>ACCIONES</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let curso of cursos" class="text-center">
                                  <td>{{curso.id}}</td>
                                  <td>{{curso.descripcion}}</td>
                                  <td>
                                      <button class="btn btn-warning">Editar</button> 
                                      <button (click)="borrarCurso(curso.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button> 
                                  </td>
                              </tr>
                          </tbody>
                      </table>                 
                  </div>
              </div> 
              <br/>
          </div>
      </div>
  </div>
</div>
<br/>