
<div class="container w-10 bg-primary mt-5 rounder shadow col-md-6">
    <div class="row align-items-stretch" >
        <div class="col bg-white rounder ">
            <h2 class="fw-bold text-center py-1">Recuperacion de contraseña</h2>
            <form class="row g-3">
                <div class="col-md-6">
                  <label for="correo" class="form-label">Ingrese su correo:</label>
                  <input type="text" class="form-control" id="correo">
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary">
                    Enviar correo
                  </button>
                  <br>
                  <br>
                </div>
            </form>
        </div>
    </div>
</div>