<div class="container w-75 bg-primary mt-5 rounder shadow">
    <div class="row align-items-stretch" >
        <div class="col bg-white rounder">
            <h2 class="fw-bold text-center py-5">Listado de usuarios</h2>
            <div class="container">
                <div class="row">
                    <div class="container">
                        <button (click)="navegar()" type="submit" class="btn btn-success">
                            Nuevo
                          </button>
                    </div>
                </div>
            </div>
            <br/>
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Fecha nacimiento</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">ACCIONES</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let persona of personas">
                    <th scope="row">{{persona.id}}</th>
                    <td>{{persona.nombres}}</td>
                    <td>{{persona.apellidos}}</td>
                    <td>{{persona.username}}</td>
                    <td>{{persona.edad}}</td>
                    <td>{{persona.fecha_nacimiento}}</td>
                    <td>{{persona.sexo}}</td>
                    <td>{{persona.correo}}</td>
                    <td>{{persona.perfil}}</td>
                    <td>
                      <button class="btn btn-warning">Editar</button> 
                      <button (click)="borrarPersona(persona.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button> 
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<br/>