<div class="container">
    <div class=" row g-4 align-items-stretch">
      <br/><br/>
      <h1 class="text-center">Menu principal</h1>
      <br/><br/><br/><br/>
      <div class="col">
          <div class="card text-bg-light mb-3 ">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ingreso de usuarios</h5>
              <p class="card-text"> En esta seccion pueden ingresar usuarios al sistema</p>
              <button (click)="navegar('persona-grid')" class="btn btn-primary">
                Formulario Persona
              </button>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card text-bg-light mb-3">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Carreras</h5>
                <p class="card-text">
                  En esta seccion pueden ingresar las carreras disponibles a los usuarios
                </p>
                <button (click)="navegar('listarCarrera')" class="btn btn-primary">
                  Formulario carreras
                </button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-bg-light mb-3">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cursos</h5>
                <p class="card-text">
                  En esta seccion pueden ingresar los cursos disponibles a los usuarios
                </p>
                <button (click)="navegar('cursosGrid')" class="btn btn-primary">
                  Formulario Cursos
                </button>
              </div>
            </div>
          </div>

      </div>
      
      <div class=" row g-4 align-items-stretch">
        <div class="col">
          <div class="card text-bg-light mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Secciones</h5>
              <p class="card-text">
                En esta seccion pueden ingresar las secciones disponibles a los usuarios
              </p>
              <button (click)="navegar('seccionesGrid')" class="btn btn-primary">
                Formulario secciones
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-bg-light mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Actividades</h5>
              <p class="card-text">
                En esta seccion pueden ingresar las actividades disponibles a los usuarios
              </p>
              <button (click)="navegar('actividadesGrid')" class="btn btn-primary">
                Formulario secciones
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-bg-light mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sedes</h5>
              <p class="card-text">
                En esta seccion pueden ingresar las sedes con su informacion
              </p>
              <button (click)="navegar('sedesGrid')" class="btn btn-primary">
                Formulario sedes
              </button>
            </div>
          </div>
        </div>

      </div>
</div>



